*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/*Regole Header*/

.header-top{
    height:50px;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:1000;
    display:flex;
    background-color: white;

}

.header-sx{
    width:50%;
    display:flex;
    align-items:center;
    gap:20px;
}

.header-sx img{
    height:40%;
    margin-left:20px;
}

.header-sx a{
    text-decoration: none;
    color:black;
}

.header-dx{
    width:50%;
}

header ul{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:20px;
    list-style-type:none;
    height:100%;
}

.header-dx .bottone{
    margin-right:20px;
}

.bottone{
    padding:5px 10px;
}

.blu{
    background-color:#0062FE;
    color:white;
}

header a{
    text-decoration: none;
    color:black;
}

.jumbotron{
    background-color:#B4D0E7;
    padding-top:100px;

}

.contenitore-jumbo{
    width:60%;
    margin:0 auto;
}

.jumbotron h1{
    font-size:55px;
    color:black;
    padding-bottom:40px;
}

.contenitore-proposta{
    display:flex;
}

.contenitore-proposta .testo{
    width:30%;
    /*display:flex;
    flex-direction:column;
    justify-content:space-between;*/
}

.contenitore-proposta .testo span{
    display:inline-block;
}

.spazio{
    margin-bottom:20px;
}

.spazio2{
    margin-bottom:30px;
}

.contenitore-proposta .immagine{
    width:70%;
    height:270px;
}

.contenitore-proposta img{
    width:100%;
}

.contenitore-proposta i{
    font-size:40px;
    margin-bottom:10px;
}

/*Regole Main*/

main{
    margin: 0 auto;
    width:50%;
    margin-top:100px;
}

main h2{
    font-size:25px;
    padding-top:10px;
}

.contenitore-pulsanti{
    display:flex;
    margin-top:40px;
}

.contenitore-pulsanti .seleziona{
    display:flex;
    margin-right:50px;
}

.pulsante{
    height:15px;
    width:15px;
    background-color:white;
    border-radius:50%;
    margin-right:5px;
}

.mensile{
    border:3px solid blue;
}

.annuale{
    border: 1px solid grey;
}


.contenitore-scelte{
    display:flex;
    justify-content:space-between;
    gap:10px;
}

.scelta{
    width:calc((100% / 3) - 20px);

    /*DEBUG*/
    margin-top:50px;
    border:1px solid lightgray;
    /*height:500px;*/
}

.categoria{
    text-align:center;
    padding:10px 0;
    border-bottom: 1px solid lightgray;
}

.contenitore-scelta{
    padding-left:15px;
    padding-right:10px;
}

.header-scelta{
    padding-top:20px;
    padding-bottom:30px;
}

.header-scelta strong{
    display:inline-block;
}

.header-scelta *{
    margin-bottom:10px;
}

h3{
    font-size:17px;
}

.scelta ul{
    list-style-type: none;
    padding-bottom:20px;
}

.scelta li{
    display:flex;
    margin-bottom:10px;
}

.contenitore-scelta span{
    font-size:10px;
}

.scelta i{
    font-size:15px;
    padding-right:5px;
}

.pulsante-scelta span{
    display: inline-block;
}

.pulsante-scelta{
    text-align:center;
}

.bottone-scelta{
    width:80%;
    padding:5px 0;
    margin-bottom:20px;
}

.separatore{
    height:1px;
    background-color: lightgray;
    width:20%;
    margin-top:20px;
    margin-bottom:20px;
}

.scelta h4{
    margin-bottom:15px;
}

.scelta .fa-check{
    color:blue;
}


.scelta-or{

    /*DEBUG*/
    
    margin-bottom:50px;
    margin-top:30px;
    border:1px solid lightgray;

}

.scelta-or .contenitore{
    display:flex;
    
}

.scelta-or .prima-col{
    width:75%;
    padding-right:20px;
}

.scelta-or .seconda-col{
    width:25%;
    margin-top:20px;
}

.seconda-col .bottone-scelta{
    display:inline-block;
    text-align:center;
    font-size:12px;
    width:90%;
}

.trova-partner{
    
    display:flex;
    padding-top:50px;
    padding-bottom:50px;
    ;

}

.trova-partner .immagine{
    width:60%;
}

.trova-partner .immagine img{
    width:100%;
}

.trova-partner .testo{
    width:40%;
    padding:0 30px;
}

.trova-partner .testo h3{
    margin-top:30px;
    margin-bottom:15px;
}


.trova-partner .testo span{
    display:inline-block;
    margin-top:30px;
}

.bianco{
    border:1px solid black;
}



.riga{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    gap: 10px;
}

.colonna{
    width:calc((100% / 3) - 20px);
    margin-bottom:20px;
}

.operazioni img{
    width:100%;
}

.operazioni h3{
    margin-top:10px;
    margin-bottom:15px;
}

.contenitore-operazioni{
    margin-top:40px;
    margin-bottom:70px;
}

.link-main{
    display:inline-block;
    margin-top:30px;
    margin-bottom:80px;
}

/*Regole Footer*/

footer{
    background-color:black;
    color:white;
    padding-bottom:30px;
}

.menu-footer{
    margin: 0 auto;
    display:flex;
    padding-bottom:10px;
    width:70%;
}

.col-footer{
    width:20%;
    margin-top:70px;
}

footer ul{
    margin-top:15px;
    list-style-type:none;
}

footer li{
    margin-bottom:10px;
}

footer a{
    text-decoration: none;
    color:white;
}

.footer-bottom{
    width:80%;
    margin:0 auto;
    color:grey;
}

.separatore2{
    width:10%;
    height:1px;
    background-color:gray;
    margin-top:50px;
    margin-bottom:30px;
}

.footer-bottom i{
    color:grey;
    margin-right:5px;
}